<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cmpt276.as3.cmpt276hydrogenproject" >

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.CMPT276HydrogenProject" >
        <activity
            android:name=".EditChildActivity"
            android:exported="true" />
        <activity
            android:name=".HelpActivity"
            android:exported="false" />
        <activity
            android:name=".AddCoinFlipActivity"
            android:exported="true"
            android:parentActivityName=".CoinFlipActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ConfigureActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CoinFlipActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TimeoutActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TaskManagerActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait" >
            android:launchMode="singleTask"
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".NotificationBroadcast" />
    </application>

</manifest>